<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="widthdevice-width" />
<title>Listograma</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link rel="shortcut icon" href="src/main/resources/favicon.ico">
<link rel="stylesheet" type="text/css" href="css/switch.css" />



<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<style>
.modal {
	width: 300px;
}

.modal-content {
	width: 300px;
}

.list-group-item:hover {
	background-color: rgba(59, 57, 57, 0.164);
}
</style>
<style>
</style>
</head>


<body>


	<nav class="navbar navbar-dark bg-dark">


		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="modal"
				data-bs-target="#exampleModal">
				<span class="navbar-toggler-icon"></span>
			</button>

			<span class="navbar-brand mb-0">
				<h2>Volkswagen Job Description</h2>
			</span>
			<a class="navbar-brand mt-2 mt-lg-0" href="/logout">
				<img
				src="/assets/logo.webp"
				height="55" alt="" />
			</a>

		</div>
	</nav>
	<div class="container">
		<div class="jumbotron">
			<h1>Arquivamento</h1>
		</div>
		<div class="modal true" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">MENU</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<ul class="list-group list-group-flush">
							<li class="btn btn-s btn-outline-dark"
								onclick="window.location.href = '/home';">LISTOGRAMA</li>
							<p>
							<li class="btn btn-s btn-dark" onclick="window.location.href = '/arquivamento';">ARQUIVAMENTO</li>
							<p>
							<li class="btn btn-s btn-outline-dark"
								onclick="window.location.href = '/controleforms';">CONTROLE
								DOS FORMULÁRIOS</li>
							<p>
							<li class="btn btn-s btn-outline-dark"
								onclick="window.location.href = '/organograma';">ORGANOGRAMA</li>

						</ul>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							data-bs-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="d-flex">
				<div class="ml-auto p-2">
					<form class="form-inline my-2 my-lg-0" method="get" th:action="@{/arquivamento}">
						<input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Buscar" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
					</form>
				</div>
			</div>
			<div class="panel-body mt-3">
				<table class="table table-hover text-align: center">
					<thead class="thead-dark">
					<tr>
						<th>UO</th>
						<th>Abreviação</th>
						<th>Descrição UO Inglês</th>
						<th>Descrição UO Português</th>
						<th>Número Pessoal</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="department : ${departments}">
						<td th:text="${department.ou}"></td>
						<td th:text="${department.acronym}"></td>
						<td th:text="${department.nameEn}"></td>
						<td th:text="${department.namePtBr}"></td>
						<td th:text="${department.holder}"></td>
					</tr>
					</tbody>
					<tfoot id="excel_data"></tfoot>
				</table>
			</div>
		</div>
	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
