<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="widthdevice-width" />
<title>AKV Plus Visualização</title>
<link rel="shortcut icon" href="src/main/resources/static/favicon.ico">

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link rel="shortcut icon" href="src/main/resources/favicon.ico">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

</head>
<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<span class="navbar-brand mb-0">
			<h2>Volkswagen Job Description</h2>
		</span>
		<figure>
				<img class="navbar-brand mt-2 mt-lg-0" src="/assets/logo.webp"
					 height="55" alt="">
				<figcaption>
					<a class="navbar-text" href="/controleforms" >Voltar</a>
				</figcaption>
		</figure>
	</div>
</nav>


<body>
	<main class="container" id="dados">
		<div class="jumbotron">
			<h3>Função/Job Description(AKV Plus) Começando pelo Nível de
				Gerenciamento para Volkswagen Brasil e AL</h3>
		</div>
		<div>
			<input class="btn btn-info" type="button" value="Imprimir" onClick="CriaPDF()">
		</div>
		<div class="container mt-4">
			<form th:object="${akv}" th:action="@{/voltar}" method="post">
				<input type="hidden" th:field="*{id}">
				<div class="form-row">
					<div class="form-group col-md-7">
						<label>1. Empresa</label>
						<select class="form-select" id="company" name="company" th:field="*{company}" disabled>
							<option selected value="vw_br">Volkswagen do Brasil</option>
							<option value="vw_arg">Volkswagen Group Argentina</option>
						</select>
					</div>

					<div class="form-group col-md-5">
						<label for="akv_date">2. Data de Criação</label>
						<input class="form-control" type="date" th:field="*{akv_date}" disabled
							   name="akv_date" id="akv_date" required>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-7">
						<label>3. Área</label>
						<input class="form-control" type="text" th:field="*{akv_date}" disabled
							   placeholder="Especifique a área de responsabilidade do Conselho de Administração. "
							   name="area" id="area" required>
					</div>

					<div class="form-group col-md-5">
						<label for="dep_acronym">4. Abreviação da UO</label>
						<input class="form-control" type="text" th:field="*{depAcronym}" disabled
							   placeholder="Especifique o código UO"
							   name="dep_acronym" id="dep_acronym" required>
					</div>
				</div>
<!--				th:field="*{uoPtBbr}" -->
				<div class="form-group">
					<label for="uo_pt_br">5. Nome Completo da UO (Português)</label>
					<input class="form-control" type="text" disabled
						   placeholder="Especifique o nome completo da UO em Português."
						   name="uo_pt_br" id="uo_pt_br" required>
				</div>
<!--				th:field="*{uoEn}"-->
				<div class="form-group">
					<label for="uo_en">6. Nome Completo da UO (Inglês)</label>
					<input class="form-control" type="text" disabled
						   placeholder="Somente se você lidera uma unidade organizacional: Especifique o nome completo da UO em Inglês"
						   name="uo_en" id="uo_en" required>
				</div>

				<div class="form-group">
					<label for="ou_number">7. Número da UO</label>
					<input class="form-control" type="text" th:field="*{ouNumber}" disabled
						   placeholder="Especifique o número UO" readonly
						   name="ou_number" id="ou_number" required>
				</div>
<!--				th:field="*{ouDescription}" -->
				<div class="form-group">
					<label for="ou_description">8. Breve descrição da UO/
						Posição/ Função</label>
					<input class="form-control" type="text" disabled
						   placeholder="Insira uma breve descrição da finalidade da unidade organizacional (UO), incluindo os objetivos e a importância para os resultados da divisão."
						   name="ou_description" id="ou_description" required>
				</div>

				<div class="form-group mt-4">
					<p> 9. Task:</p>
					<div class="form-group ms-2">
						<div class="row">
							<label for="t1" class="col-auto col-form-label">T1</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="4" name="t1" id="t1" th:field="*{t1}" disabled
									  placeholder="Descreva uma tarefa. As tarefas são as atividades centrais específicas da respectiva função / posição que são necessárias para atingir os objetivos / resultados definidos. As tarefas devem ser formuladas para serem tão concretas, rastreáveis e mensuráveis quanto possível. Em particular, inclua tarefas relacionadas à conformidade com leis, políticas e regulamentações ambientais - especialmente nos EUA e no estado americano da Califórnia."
									 ></textarea>
							</div>

							<div class="form-group flex-fill w-auto">
								<label for="task_grade1">Selecione o grau de responsabilidade</label>
								<select class="form-select" name="task_grade1" id="task_grade1" th:field="*{taskGrade1}" disabled>
									<option selected value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t2" class="col-auto col-form-label">T2</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="2" name="t2" id="t2" th:field="*{t2}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>
<!--							th:field="*{taskGrade2}" -->
							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade2" id="task_grade2" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t3" class="col-auto col-form-label">T3</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="2" name="t3" id="t3" th:field="*{t3}" disabled
									  placeholder="Descreva outra tarefa." ></textarea>
							</div>
<!--							th:field="*{taskGrade3}"-->
							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade3" id="task_grade3" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t4" class="col-auto col-form-label">T4</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="2" name="t4" id="t4" th:field="*{t4}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>
<!--							th:field="*{taskGrade4}"-->
							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade4" id="task_grade4" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t5" class="col-auto col-form-label">T5</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="2" name="t5" id="t5" th:field="*{t5}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>
<!--							th:field="*{taskGrade5}"-->
							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade5" id="task_grade5"disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t6" class="col-auto col-form-label">T6</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="2" name="t6" id="t6" th:field="*{t6}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>

							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade6" id="task_grade6" th:field="*{taskGrade6}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t7" class="col-auto col-form-label">T7</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="2" name="t7" id="t7" th:field="*{t7}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>

							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade7" id="task_grade7" th:field="*{task_grade7}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t8" class="col-auto col-form-label">T8</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="2" name="t8" id="t8" th:field="*{t8}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>

							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade8" id="task_grade8" th:field="*{task_grade8}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t9" class="col-auto col-form-label">T9</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="2" name="t9" id="t9" th:field="*{t9}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>

							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade9" id="task_grade9" th:field="*{task_grade9}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t10" class="col-auto col-form-label">T10</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="2" name="t10" id="t10" th:field="*{t10}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>

							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade10" id="task_grade10" th:field="*{task_grade10}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t11" class="col-auto col-form-label">T11</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="2" name="t11" id="t11" th:field="*{t11}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>

							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade11" id="task_grade11" th:field="*{task_grade11}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t12" class="col-auto col-form-label">T12</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="2" name="t12" id="t12" th:field="*{t12}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>

							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade12" id="task_grade12" th:field="*{task_grade10}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t13" class="col-auto col-form-label">T13</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="3" name="t13" id="t13" th:field="*{t13}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>

							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade13" id="task_grade13" th:field="*{task_grade10}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t14" class="col-auto col-form-label">T14</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="3" name="t14" id="t14" th:field="*{t14}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>

							<div class="form-group flex-fill w-auto">
								<select class="form-select" name="task_grade14" id="task_grade14" th:field="*{task_grade10}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>

						<div class="row mt-2">
							<label for="t15" class="col-auto col-form-label">T15</label>
							<div class="form-group col-sm-8">
							<textarea class="form-control" rows="3" name="t15" id="t15" th:field="*{t15}" disabled
									  placeholder="Descreva outra tarefa."></textarea>
							</div>

							<div class="form-group flex-fill w-auto align-items-center">
								<select class="form-select" name="task_grade15" id="task_grade15" th:field="*{task_grade15}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="implementation"> Responsável pela implementação</option>
									<option value="contribute">Obrigação de contribuir</option>
									<option value="informed">Informado</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group mt-4">
					<p>10. Autoridades (de tomada de decisão): </p>
					<div class="form-group ms-2">
						<div class="row">
							<label for="a1" class="col-auto col-form-label">A1</label>
							<div class="form-group flex-fill w-auto">
							<textarea class="form-control" rows="3" name="a1" id="a1" th:field="*{a1}" disabled
									  placeholder="Descreva uma autoridade. Autoridades são as liberdades de ação, tomada de decisão e organização atribuídas à respectiva função / posição para realizar as tarefas descritas. Em particular, especifique também as autoridades relacionadas à conformidade com as leis, políticas e regulamentos ambientais - especialmente nos EUA e no estado americano da Califórnia."
							></textarea>
							</div>
						</div>

						<div class="row mt-2">
							<label for="a2" class="col-auto col-form-label">A2</label>
							<div class="form-group flex-fill w-auto">
							<textarea class="form-control" rows="1" name="a2" id="a2" th:field="*{a2}" disabled
									  placeholder="Descreva outra autoridade."></textarea>
							</div>
						</div>

						<div class="row mt-2">
							<label for="a3" class="col-auto col-form-label">A3</label>
							<div class="form-group flex-fill w-auto">
							<textarea class="form-control" rows="1" name="a3" id="a3" th:field="*{a3}" disabled
									  placeholder="Descreva outra autoridade."></textarea>
							</div>
						</div>

						<div class="row mt-2">
							<label for="a4" class="col-auto col-form-label">A4</label>
							<div class="form-group flex-fill w-auto">
							<textarea class="form-control" rows="1" name="a4" id="a4" th:field="*{a4}" disabled
									  placeholder="Descreva outra autoridade."></textarea>
							</div>
						</div>

						<div class="row mt-2">
							<label for="a5" class="col-auto col-form-label">A5</label>
							<div class="form-group flex-fill w-auto">
							<textarea class="form-control" rows="1" name="a5" id="a5" th:field="*{a5}" disabled
									  placeholder="Descreva outra autoridade."></textarea>
							</div>

						</div>
						<div class="row mt-2">
							<label for="a6" class="col-auto col-form-label">A6</label>
							<div class="form-group flex-fill w-auto">
							<textarea class="form-control" rows="1" name="a6" id="a6" th:field="*{a6}" disabled
									  placeholder="Descreva outra autoridade."></textarea>
							</div>

						</div>
						<div class="row mt-2">
							<label for="a7" class="col-auto col-form-label">A7</label>
							<div class="form-group flex-fill w-auto">
							<textarea class="form-control" rows="1" name="a7" id="a7" th:field="*{a7}" disabled
									  placeholder="Descreva outra autoridade."></textarea>
							</div>

						</div>
						<div class="row mt-2">
							<label for="A8" class="col-auto col-form-label">A8</label>
							<div class="form-group flex-fill w-auto">
							<textarea class="form-control" rows="1" name="a8" id="a8" th:field="*{a8}" disabled
									  placeholder="Descreva outra autoridade."></textarea>
							</div>
						</div>

						<div class="row mt-2">
							<label for="a9" class="col-auto col-form-label">A9</label>
							<div class="form-group flex-fill w-auto">
							<textarea class="form-control" rows="1" name="a9" id="a9" th:field="*{a9}" disabled
									  placeholder="Descreva outra autoridade."></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group mt-4">
					<p>11. Responsabilidades </p>
					<div class="form-group ms-2">
						<div class="row">
							<label for="r1" class="col-auto col-form-label">R1</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" name="r1" id="r1"
								  placeholder="Descreva uma responsabilidade. As responsabilidades incluem os deveres específicos da função atribuídos à respectiva função / posição. Eles fornecem uma visão sobre a responsabilidade e o escopo da gestão (por exemplo, em todo o Grupo, marca Jetta ou regional)."
						></textarea>
							</div>
						</div>

						<div class="row mb-2">
							<label for="r2" class="col-auto col-form-label">R2</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" rows="1" name="r2" id="r2" th:field="*{r2}" disabled
								  placeholder="Descreva uma responsabilidade."></textarea>
							</div>
						</div>

						<div class="row mb-2">
							<label for="r3" class="col-auto col-form-label">R3</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" rows="1" name="r3" id="r3" th:field="*{r3}" disabled
								  placeholder="Descreva uma responsabilidade."></textarea>
							</div>
						</div>

						<div class="row mb-2">
							<label for="r4" class="col-auto col-form-label">R4</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" rows="1" name="r4" id="r4" th:field="*{r4}" disabled
								  placeholder="Descreva uma responsabilidade."></textarea>
							</div>
						</div>

						<div class="row mb-2">
							<label for="r5" class="col-auto col-form-label">R5</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" rows="1" name="r5" id="r5" th:field="*{r5}" disabled
								  placeholder="Descreva uma responsabilidade."></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group mt-4">
					<label>12. Normas e regulamentos de
						processo essenciais na estrutura operacional geral: </label>
					<div class="form-group ms-2">
						<ul>
							<li>Inclui, em particular, a política de compliance (B-ORL
								1.19.01.03) e o Código de Conduta.</li>
							<li>Todos os padrões geralmente aplicáveis, como Processo de
								Emergência de Produto (PEP), ISO 9001 e Padrões de Processo
								atuais.</li>
							<li>Além disso, devem ser cumpridos os regulamentos legais,
								oficiais e operacionais aplicáveis, acordos, contratos e
								resoluções do Conselho de Administração pertinentes à divisão.</li>
							<li>Normas e diretrizes de conformidade do produto política
								B-ORL 2.02.01.02.</li>
						</ul>
						<input class="form-control mt-2 ms-2" type="text" th:field="*{standard1}" disabled
							   placeholder="Onde aplicável, especifique Normas de Processo e normas adicionais essenciais e específicas da função."
							   name="standard1" id="standard1" required>

						<input class="form-control mt-2 ms-2" type="text" th:field="*{standard2}" disabled
							   placeholder="Onde aplicável, especifique Normas de Processo e normas adicionais essenciais e específicas da função."
							   name="standard2" id="standard2" required>
					</div>
				</div>

				<div class="form-group mt-5">
					<p>13. Participação em comitês relacionados à
						função / posição descrita:</p>
					<div class="form-group ms-2">
						<div class="row">
							<label for="c1" class="col-auto col-form-label">C1</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" rows="4" name="c1" id="c1" th:field="*{c1}" disabled
								  placeholder="Especifique um comitê do qual a pessoa que ocupa a posição é membro. Use a abreviatura oficial (por exemplo, reunião do Conselho de Administração da Marca = MV). Se a lista contiver vários comitês, organize a lista hierarquicamente em ordem decrescente, começando com os principais comitês.. "
								 ></textarea>
							</div>

							<div class="form-group w-auto d-flex align-items-center">
								<select class="form-select" name="committee1" id="committee1" th:field="*{committee1}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="president">Presidente do comitê com autoridade
										para tomar decisões</option>
									<option value="member">Membro com autoridade de tomada de
										decisão</option>
									<option value="participant">Participante sem autoridade de
										tomada de decisão</option>
								</select>
							</div>

						</div>

						<div class="row mb-2">
							<label for="c2" class="col-auto col-form-label">C2</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" name="c2" id="c2" th:field="*{c2}" disabled
								  placeholder="Especifique outro comitê."></textarea>
							</div>

							<div class="form-group w-auto d-flex align-items-center">
								<select class="form-select" name="committee2" id="committee2" th:field="*{committee2}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="president">Presidente do comitê com autoridade
										para tomar decisões</option>
									<option value="member">Membro com autoridade de tomada de
										decisão</option>
									<option value="participant">Participante sem autoridade de
										tomada de decisão</option>
								</select>
							</div>
						</div>

						<div class="row mb-2">
							<label for="c3" class="col-auto col-form-label">C3</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" name="c2" id="c3" th:field="*{c3}" disabled
								  placeholder="Especifique outro comitê."></textarea>
							</div>

							<div class="form-group w-auto d-flex align-items-center">
								<select class="form-select" name="committee3" id="committee3" th:field="*{committee3}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="president">Presidente do comitê com autoridade
										para tomar decisões</option>
									<option value="member">Membro com autoridade de tomada de
										decisão</option>
									<option value="participant">Participante sem autoridade de
										tomada de decisão</option>
								</select>
							</div>
						</div>

						<div class="row mb-2">
							<label for="c4" class="col-auto col-form-label">C4</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" name="c4" id="c4" th:field="*{c4}" disabled
								  placeholder="Especifique outro comitê."></textarea>
							</div>

							<div class="form-group w-auto d-flex align-items-center">
								<select class="form-select" name="committee4" id="committee4" th:field="*{committee4}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="president">Presidente do comitê com autoridade
										para tomar decisões</option>
									<option value="member">Membro com autoridade de tomada de
										decisão</option>
									<option value="participant">Participante sem autoridade de
										tomada de decisão</option>
								</select>
							</div>
						</div>

						<div class="row mb-2">
							<label for="c5" class="col-auto col-form-label">C5</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" name="c5" id="c5" th:field="*{c5}" disabled
								  placeholder="Especifique outro comitê."></textarea>
							</div>

							<div class="form-group w-auto d-flex align-items-center">
								<select class="form-select" name="committee5" id="committee5" th:field="*{committee5}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="president">Presidente do comitê com autoridade
										para tomar decisões</option>
									<option value="member">Membro com autoridade de tomada de
										decisão</option>
									<option value="participant">Participante sem autoridade de
										tomada de decisão</option>
								</select>
							</div>
						</div>

						<div class="row mb-2">
							<label for="c6" class="col-auto col-form-label">C6</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" name="c6" id="c6" th:field="*{c6}" disabled
								  placeholder="Especifique outro comitê."></textarea>
							</div>

							<div class="form-group w-auto d-flex align-items-center">
								<select class="form-select" name="committee6" id="committee6" th:field="*{committee6}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="president">Presidente do comitê com autoridade
										para tomar decisões</option>
									<option value="member">Membro com autoridade de tomada de
										decisão</option>
									<option value="participant">Participante sem autoridade de
										tomada de decisão</option>
								</select>
							</div>
						</div>

						<div class="row mb-2">
							<label for="c7" class="col-auto col-form-label">C7</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" name="c7" id="c7" th:field="*{c7}" disabled
								  placeholder="Especifique outro comitê."></textarea>
							</div>

							<div class="form-group w-auto d-flex align-items-center">
								<select class="form-select" name="committee7" id="committee7" th:field="*{committee7}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="president">Presidente do comitê com autoridade
										para tomar decisões</option>
									<option value="member">Membro com autoridade de tomada de
										decisão</option>
									<option value="participant">Participante sem autoridade de
										tomada de decisão</option>
								</select>
							</div>
						</div>

						<div class="row mb-2">
							<label for="c8" class="col-auto col-form-label">C8</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" name="c8" id="c8" th:field="*{c8}" disabled
								  placeholder="Especifique outro comitê."></textarea>
							</div>

							<div class="form-group w-auto d-flex align-items-center">
								<select class="form-select" name="committee8" id="committee8" th:field="*{committee8}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="president">Presidente do comitê com autoridade
										para tomar decisões</option>
									<option value="member">Membro com autoridade de tomada de
										decisão</option>
									<option value="participant">Participante sem autoridade de
										tomada de decisão</option>
								</select>
							</div>
						</div>

						<div class="row mb-2">
							<label for="c9" class="col-auto col-form-label">C9</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" name="c9" id="c9" th:field="*{c9}" disabled
								  placeholder="Especifique outro comitê."></textarea>
							</div>

							<div class="form-group w-auto d-flex align-items-center">
								<select class="form-select" name="committee9" id="committee9" th:field="*{committee9}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="president">Presidente do comitê com autoridade
										para tomar decisões</option>
									<option value="member">Membro com autoridade de tomada de
										decisão</option>
									<option value="participant">Participante sem autoridade de
										tomada de decisão</option>
								</select>
							</div>
						</div>

						<div class="row mb-2">
							<label for="c10" class="col-auto col-form-label">C10</label>
							<div class="form-group flex-fill w-auto">
						<textarea class="form-control" name="c10" id="c10" th:field="*{c10}" disabled
								  placeholder="Especifique outro comitê."></textarea>
							</div>

							<div class="form-group w-auto d-flex align-items-center">
								<select class="form-select" name="committee10" id="committee10" th:field="*{committee10}" disabled>
									<option selected>Selecione o grau de responsabilidade</option>
									<option value="president">Presidente do comitê com autoridade
										para tomar decisões</option>
									<option value="member">Membro com autoridade de tomada de
										decisão</option>
									<option value="participant">Participante sem autoridade de
										tomada de decisão</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group mt-4">
					<label for="contact_points"> 14. Pontos de contato essenciais (internos /
						externos) relacionados à função / posição descrita:</label>
					<div class="form-group">
					<textarea class="form-control" rows="3" th:field="*{contact_points}" disabled
							  placeholder="Descreva os pontos de contato pertinentes para a função / posição, por exemplo, áreas de responsabilidade do Conselho de Administração da Volkswagen AG, empresas do Grupo, regiões, outras marcas, órgãos de constituição de obras (relações de trabalho), outras empresas, autoridades, associações e instituições."
							  name="contact_points" id="contact_points"></textarea>
					</div>
				</div>

				<div class="form-group mt-5">
					<label> 15. KPI's (Ø durante o período de
						planejamento - pelo menos 3 anos):</label>
					<div class="form-group">
						<table class="table table-hover table-bordered">
							<tr>
								<th scope="row"></th>
								<td>Orçamento do departamento (UO) (custo de pessoal +
									despesas gerais) em Euros **:
								</td>
								<td>
									<input class="form-group col-md-6" type="text" placeholder="000,00" th:field="*{budget_euro}" disabled
										   data-mask="000,00" name="budget_euro" id="budget_euro"/>
								</td>
								<td>Milhões de € / ano</td>
							</tr>

							<tr>
								<th scope="row"></th>
								<td>Orçamento do departamento (UO) (custo de pessoal +
									despesas gerais) em R$**:
								</td>
								<td>
									<input class="form-group col-md-6" type="text" placeholder="000,00" th:field="*{budget_real}" disabled
										   data-mask="000,00" name="budget_real" id="budget_real"/>
								</td>
								<td>R$ milhões / ano</td>
							</tr>

							<tr>
								<th scope="row"></th>
								<td>Taxa de gestão **: (amplitude de controle)
									<p>Número de cargos e unidades organizacionais subordinadas
										diretamente à UO (somente aprovados)
									</p>
									<input class="form-group col-md-8" type="text" maxlength="25" th:field="*{headcount_reference}" disabled
										   placeholder="Insira a referência de número de funcionários (real, FC?)."
										   name="headcount_reference" id="headcount_reference"/>
								</td>
								<td>
									<input class="form-group col-md-6" type="text" placeholder="1: 0" th:field="*{management_ratio}" disabled
										   data-mask="0: 0" name="management_ratio" id="management_ratio"/>
								</td>
								<td>Posições</td>
							</tr>

							<tr>
								<th scope="row"></th>
								<td>Terceiros fixos:</td>
								<td>
									<input class="form-group col-md-6" type="text" th:field="*{third_parties}" disabled
										   data-mask="0: 0" name="third_parties" id="third_parties" placeholder="1: 0"/>
								</td>
								<td>Posições</td>
							</tr>

							<tr>
								<th scope="row"></th>
								<td>
									<input class="form-group col-md-8" type="text"
										   placeholder="Insira outro KPI específico da função (opcional)"
										   name="kpi1" id="kpi1"/>
								</td>
								<td>
									<input class="form-group col-md-6" type="text" th:field="*{value_kpi1}" disabled
										   data-mask="000,00" name="kpi1_value" id="value_kpi1" placeholder="000,00"/>
								</td>
								<td>Milhões € / ano</td>
							</tr>

							<tr>
								<th scope="row"></th>
								<td>
									<input class="form-group col-md-8" type="text" th:field="*{kpi2}" disabled
										   placeholder="Insira outro KPI específico da função (opcional)"
										   name="kpi2" id="kpi2"/>
								</td>
								<td>
									<input  class="form-group col-md-6" type="text" placeholder="000,00" th:field="*{value_kpi2}" disabled
											data-mask="000,00" name="value_kpi2" id="value_kpi2"/>
								</td>
								<td>
									<input class="form-group col-md-10" type="text" placeholder="Insira a unidade" th:field="*{insert_unit}" disabled
										   name="insert_unit" id="insert_unit"/>
								</td>
							</tr>
						</table>

					</div>
				</div>

				<div class="form-group mt-4">
					<label> 16. Reportando </label>
					<div class="form-row mt-2">
						<label for="report_disc" class="col-md-6 col-form-label"> Esta função / posição reporta
							disciplinarmente ao seguinte departamento / UO: </label>
						<input class="form-control col-5 ml-2" type="text" data-mask="00000000" th:field="*{report_disc}" disabled
							   placeholder="Especifique o código e o número da OU." required
							   name="report_disc" id="report_disc">
					</div>

					<div class="form-row mt-2">
						<label for="report_function" class="col-md-6 col-form-label"> Esta função / posição também reporta
							funcionalmente ao seguinte departamento / UO: </label>
						<input class="form-control col-5 ml-2" type="text" data-mask="00000000" th:field="*{report_function}" disabled
							   placeholder="Especifique o código e o número da OU."
							   name="report_function" id="report_function" required>
					</div>
				</div>

				<div class="form-group mt-5">
					<label> 17. Substituição(Opcional)</label>
					<div class="form-group">
						<div class="form-group">
							<label for="substitution1" class="mt-2">
								O titular do cargo atua como suplente para a seguinte função / cargo:
							</label>
							<input class="form-control" type="text" name="substitution1" id="substitution1" th:field="*{substitution1}" disabled
								   placeholder="Especifique uma função / posição."
								   >
						</div>

						<div class="form-group">
							<label for="substitution2"> As seguintes tarefas, (tomada de decisão) autoridades,
								responsabilidades ou atividades de comitê estão excluídas da função de substituto</label>
							<input class="form-control" type="text" name="substitution2" id="substitution2" th:field="*{substitution2}" disabled
								   placeholder="Exclua tarefas, autoridades, responsabilidades e atividades do comitê. Basta usar os números listados acima para definir as tarefas, autoridades e responsabilidades (por exemplo, T1; A3).">
						</div>
						<div class="form-group">
							<label for="substitution3"> O detentor do cargo com a seguinte função / posição atua como substituto
								do detentor do cargo aqui descrito</label>
							<input class="form-control" type="text" name="substitution3" id="substitution3" th:field="*{substitution3}" disabled
								   placeholder="Especifique uma função / posição.">
						</div>
						<div class="form-group">
							<label for="substitution4"> As seguintes tarefas, autoridades,
								responsabilidades ou atividades de comitê estão excluídas desta
								função de substituto:</label>
							<input class="form-control" type="text" name="substitution4" id="substitution4" th:field="*{substitution4}" disabled
								   placeholder="Exclua tarefas, autoridades, responsabilidades e atividades do comitê. Basta usar os números listados acima para definir as tarefas, autoridades e responsabilidades (por exemplo, T1; A3)."
								  >
						</div>
					</div>
				</div>

				<div class="form-group mt-5">
					<label> 18. Tarefas de gerenciamento de pessoal </label>
					<p class="mt-1"> As tarefas de gestão de pessoal incluem, em particular: <br>
						◻️ Seleção de pessoal para sua área de responsabilidade.<br>
						◻️ Instruir o pessoal sobre questões organizacionais e específicas
						do trabalho.<br> ◻️ Delegar tarefas e autoridades a pessoal
						adequado.<br> ◻️ Definição de prioridades.<br> ◻️
						Motivando o pessoal.<br> ◻️ Informar, aconselhar e apoiar o
						pessoal.<br> ◻️ Avaliação do desempenho do pessoal e
						comportamento de trabalho.<br> ◻️ Orientar o pessoal em
						relação ao comportamento e desempenho no trabalho.<br> ◻️
						Desenvolvimento e promoção de pessoal.<br> ◻️ Tratamento de
						reclamações.<br> ◻️ Monitorar o cumprimento das diretrizes e
						regulamentos, como regulamentos de trabalho, regulamentos de saúde
						e segurança ocupacional, instruções emitidas pela administração.<br>
						◻️ Abordagem das preocupações sociais do pessoal.<br> ◻️
						Garantir que a remuneração do pessoal seja adequada e não
						discriminatória, de acordo com os regulamentos operacionais e
						acordados coletivamente.<br> ◻️ Iniciar recrutamentos,
						demissões, transferências internas e realocações, observando os
						regulamentos legais e operacionais aplicáveis, acordados
						coletivamente.<br> ◻️ Solicitar aumentos ou reduções de
						postagens ou transformação de postagens.<br> ◻️ Gerenciar a
						colocação de pessoal em termos de questões específicas do trabalho
						e procedimentos organizacionais.<br> ◻️ Contribuir para a
						organização do local de trabalho.<br> ◻️ Criação de rascunhos
						de referências e referências provisórias.<br> ◻️ Autorizar
						nomeações e atribuição de poderes.<br> ◻️ Definir, aprovar e
						implementar estratégias adequadas de colocação de pessoal em
						situações excepcionais.<br> ◻️ Organizar alterações de paradas
						em caso de rupturas operacionais ou gargalos de capacidade em
						acordo com os órgãos de co-determinação.<br> ◻️ Definição de
						desvios do horário normal de trabalho (por exemplo, horas extras,
						tempo de férias).<br> ◻️ Cooperar com os órgãos de
						constituição da obra (relações de trabalho) no tratamento de
						questões de pessoal.<br> ◻️ Permitir folga remunerada
						negociada; aprovar / negar solicitações de folga não remunerada.<br>
						◻️ Verificar e atualizar a descrição da função / trabalho (AKVplus)
						uma vez por ano ou imediatamente em caso de mudanças (dentro de 4
						semanas).<br> <br>
					</p>
				</div>

				<div class="form-group mt-3">
					<label> 19. Assinaturas: </label>
					<p class="col-md-8">
						O titular do cargo e seu superior direto reconhecem mutuamente o
						conteúdo deste documento com suas assinaturas.
					</p>

					<div class="form-row">
						<label class="col-md-7 col-form-label">
							O reconhecimento ou verificação de que a descrição do trabalho está atualizada foi feito em:
						</label>
						<input class="form-control col-md-3 ml-auto" type="date" th:field="*{signature_date}" disabled
							   name="signature_date" id="signature_date" required>
					</div>

					<div class="form-row mt-3">
						<div class="col-md-6">
							<h5><b>Titular do cargo:</b></h5><br>
							<hr style="width:70%; margin-left:0">
							<p>Titular do cargo</p>
						</div>

						<div class="col-md-6">
							<h5><b>Superior Direto:</b></h5><br>
							<hr style="width:70%; margin-left:0">
							<p>Superior Direto</p>
						</div>
					</div>
				</div>

				<div class="form-group mt-3">
					<label> 20. Notas sobre as próximas etapas: </label>
					<div class="form-group">Depois que o titular do cargo e seu
						superior direto assinam o documento, o titular do cargo arquiva o
						documento e o envia para a equipe de Organização de RH.</div>
				</div>

				<div class="m-3 p-2 col-lg-15" style="text-align: right">
					<button type="submit" class="btn btn-info text-white">Salvar</button>
				</div>
			</form>

		</div>
	</main>

	<script>
    function CriaPDF() {
        var minhaTabela = document.getElementById('dados').innerHTML;
        var style = "<style>";
        style = style + "table {width: 100%;font: 20px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";
        var win = window.open('', '', 'height=700,width=700');
        win.document.write('<html><head>');
        win.document.write('<title>Empregados</title>');  
        win.document.write(style);                                     
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(minhaTabela);                          
        win.document.write('</body></html>');
        win.document.close(); 	                                        
        win.print();                                                           
    }
</script>
	<script th:src="@{/webjars/jquery/jquery.min.js}">
		
	</script>

	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}">
		
	</script>
</body>
</html>
