<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Create Report</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Employees in the company" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
</head>

<body>
    <main class="container my-5 py-5" th:object="${report}">
        <h2 class="mb-4">Criar Relatório</h2>
        <form class="d-flex flex-column gap-3" action="#" th:action="@{/colaboradores/criar-relatorio}" method="post">
            <input type="hidden" th:value="*{reportOwnerId}" name="reportOwnerId">
            <div class="row g-2">
                <div class="col-7">
                    <label class="form-label">1. Empresa</label>
                    <select class="form-select" name="affiliation">
                        <option
                            th:each="affiliate : ${T(br.com.gustavoalmeidacarvalho.jobdescription.domain.report.CompanyAffiliation).values()}"
                            th:value="${affiliate}" th:text="${affiliate.affiliation}"></option>
                    </select>
                </div>
                <div class="col-5">
                    <label class="form-label">2. Data de Criação</label>
                    <input type="date" class="form-control" name="createdAt"
                        th:value="${#dates.format(#dates.createToday(), 'yyyy-MM-dd')}"
                        th:attr="max=${#dates.format(#dates.createToday(), 'yyyy-MM-dd')}" required>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-7">
                    <label class="form-label">3. Área</label>
                    <input th:field="*{area}" type="text" class="form-control" name="area"
                        placeholder="Digite a área responsável" required>
                </div>
                <div class="col-5">
                    <label class="form-label">4. Departamento</label>
                    <input th:value="*{department}" type="text" class="form-control" name="department"
                        placeholder="Departamento" required readonly>
                </div>
            </div>

            <div class="row">
                <label class="form-label">5. Tarefas</label>
                <div id="tasks-container" class="d-flex flex-column gap-2">
                    <div class="d-flex gap-2">
                        <label>T1</label>
                        <textarea type="text" class="form-control" th:name="tasks[0].description"
                            placeholder="Descreva uma tarefa"></textarea>
                        <!-- <button type="button" class="btn btn-danger mt-auto remove-task">X</button> -->
                    </div>

                </div>
            </div>
            <button type="button" class="btn btn-success ms-auto" onclick="addTask()">Adicionar</button>

            <div class="row">
                <label class="form-label">6. KPIs</label>
                <div id="kpis-container" class="d-flex flex-column gap-2">
                    <div class="d-flex gap-2">
                        <label>K1</label>
                        <textarea type="text" class="form-control" th:name="kpis[0].description"
                            placeholder="Descrição do KPI"></textarea>
                        <input type="text" class="form-control" th:name="kpis[0].value" placeholder="Valor do KPI">
                        <!-- <button type="button" class="btn btn-danger mt-auto remove-kpi">X</button> -->
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success ms-auto" onclick="addKpi()">Adicionar</button>

            <div class="row">
                <div class="col-6">
                    <label class="form-label">7. Orçamento em Euros €</label>
                    <input th:field="*{budgetEuro}" type="text" class="form-control" placeholder="€1000" required>
                </div>
                <div class="col-6">
                    <label class="form-label">8. Orçamento em Reais R$</label>
                    <input th:field="*{budgetReal}" type="text" class="form-control" placeholder="R$10000" required>
                </div>
            </div>

            <div class="row">
                <label class="mb-3"> 19. Assinaturas: </label>

                <div class="col-md-6">
                    <hr class="w-75 mt-5">
                    <p>Titular do cargo</p>
                </div>

                <div class="col-md-6">
                    <hr class="w-75 mt-5">
                    <p>Superior Direto</p>
                </div>
            </div>

            <div class="align-self-end">
                <a href="home.html" th:href="@{/admin/colaboradores}" class="btn btn-outline-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>

    </main>
</body>

<script>
    let taskCount = 1;

    function addTask() {
        const taskDiv = document.createElement("div");
        taskDiv.classList.add("d-flex", "gap-2");
        taskDiv.innerHTML = `
                <label>T${taskCount + 1}</label>
                <textarea type="text" class="form-control" name="tasks[${taskCount}].description" placeholder="Descreva outra tarefa"></textarea>
        `;
        document.getElementById("tasks-container").appendChild(taskDiv);
        taskCount++;
    }

    let kpiCount = 1;
    function addKpi() {
        const kpiDiv = document.createElement("div");
        kpiDiv.classList.add("d-flex", "gap-2");
        kpiDiv.innerHTML = `
                <label>K${kpiCount + 1}</label>
                <textarea type="text" class="form-control" name="kpis[${kpiCount}].description" placeholder="Descrição do KPI"></textarea>
                <input type="text" class="form-control" name="kpis[${kpiCount}].value" placeholder="Valor do KPI">
        `;
        document.getElementById("kpis-container").appendChild(kpiDiv);
        kpiCount++;
    }

    // document.addEventListener("DOMContentLoaded", function () {

    //     document.getElementById("tasks-container").addEventListener("click", function (e) {
    //         if (e.target.classList.contains("remove-task")) {
    //             e.target.parentElement.remove();
    //         }
    //     });

    //     document.getElementById("kpis-container").addEventListener("click", function (e) {
    //         if (e.target.classList.contains("remove-kpi")) {
    //             e.target.parentElement.remove();
    //         }
    //     });

    // });
</script>

</html>
